h3
{
	font-family: 'Devonshire', cursive;
}
h4
{
	padding: 10px;
	font-size: 40px;
	width: 300px;
}
.icone-music
{
	display: flex;
	font-size: 40px;
	flex-wrap: wrap;
	justify-content: center;
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#f15861,#f78f6a);
}
.menu
{
	font-size: 30px;
	font-family: 'Dancing Script', cursive;
	background-color: #fcdfdb;
}
.barre
{
	border: solid black;
	width:40%;
	height: 4px;
	background-color: black;
}
.barre1
{
	display: flex;
	flex-direction: row;
	align-items: center;
	width:80%;
}
.repas
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}
p
{
	font-size: 35px;
	width: 80%;
}
@media all and (max-width: 950px)
{
	h2
	{
		font-size: 40px;
	}
	p
	{
	    font-size: 25px;
	}
	.menu1
	{
		font-size:25px;
	}
	h4
	{
	    font-size: 35px;
	}
}
@media all and (max-width: 425px)
{
	h2
	{
		font-size: 30px;
	}
	h3
	{
		font-size: 25px;
	}
	h4
	{
		font-size: 30px;
	}
	p
	{
		text-align: center;
	}
	footer
	{
		font-size: 20px;
	}
}
