h3
{
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#023be3,#0b73f4,#54abfb);
}
h4
{
	font-size: 30px;
}
.menu
{
	background-color: #edefef;
	font-family: "Dancing Script",cursive;
}
.barre
{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	justify-content: center;
}
.img
{
height: 40%;
width: 30%;
}
.menu3
{
width: 80%;
font-size:25px;
padding-left: 15%;
}
@media all and (max-width: 450px)
{
	.menu1
	{
		flex-direction: column;
	}
}