.centre
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 1250px;
}
.icone-music
{
	display: flex;
	font-size: 40px;
	flex-wrap: wrap;
	justify-content: center;
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#f15861,#f78f6a);
}
.menu
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border: grey;
	box-shadow: 6px 6px 6px 6px lightgrey;
	font-size: 20px;
	width: 35%;
	justify-content: center;
	align-items: center;
	margin: auto;
	height: 90%;
}
.menu1
{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height:100%;
	background-color: #fcdfdb;
	font-family: 'Devonshire', cursive;
}
.menu2
{
	display:flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff5fe;
	font-family: 'Croissant One', cursive;
}
.menu3
{
	display:flex;
	width: 100%;
	height:100%;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Dancing Script', cursive;
	background-color:#edefef;
}
.couleur1
{
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#023be3,#0b73f4,#54abfb);
}
.menu4
{
	font-family: 'Kaushan Script', cursive;
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fdfffd;
}
.haut
{
	display: flex;
	width: 100%;
}
.bas
{
	display:flex;
	width: 100%;
}
.zoom
{
	transform: scale(1);
	transition: transform 400ms linear;
	opacity: 1;
}
.zoom:hover
{
	transform: scale(1.5);
	opacity: 0.5;
}
.venir
{
	background-color: #579c87;
	color:#fdcb46;
	display: flex;
	font-family: arial;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius:10px;
	margin: auto;
	margin-bottom: 40px;
	height: 55px;
	width: 40%;
	font-size: 35px;
}
.taille
{
	font-size: 40px;
	font-family: "Segoe Print";
}
.c2
{
	color: #0887fb;
}
.c3
{
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#5eae4c,#9ee271,#beff7f);
}
.c4
{
	color:#72bf56;
}
.taille1
{
	font-size: 40px;
	font-family: "Pax2";
    color: #c77412;
}
.couleur
{
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent;
	background-image: -webkit-linear-gradient(left,#d17f45,#a667bf,#8f5bf6);
}
.effet
{
	display: flex;
	font-size: 40px;
	flex-direction: row;
	opacity:1;  
	animation-name: effet ;
	animation-duration: 2s;
	animation-timing-function: ease-out;
	animation-iteration-count:infinite; 	
}
@keyframes effet {
	0% 
		{
			opacity: 1;
		}
	100%
		 {
 			opacity:0;
		}
}
.point1
{
	animation-delay:200ms;
}
.point2
{
	animation-delay:400ms;
	
}
.point3
{
	animation-delay: 600ms;
	
}
@media all and (max-width: 950px)
{

	 .zoom
{
	transform: scale(1);
	transition: transform 400ms;
}
.zoom:hover
{
	transform: scale(1.2);
}
}
@media all and (max-width: 760px)
{
	.zoom
	{
	transform: scale(1);
	transition: transform 400ms;
	}
	.zoom:hover
	{
	transform: scale(1.1);
	}
	.icone-music
	{
		font-size: 30px;
	}
	.venir
	{
		font-size: 20px;
	}
	.effet
	{
		font-size: 20px;
	}
}
@media all and (max-width: 425px)
{
	header
	{
		font-size: 25px;
	}
	.haut
	{
		display: flex;
		flex-direction: column;
	}
	.bas
	{
		display: flex;
		flex-direction: column;
	}
	.menu
	{
		width: 85%;
		height:45%;
		padding: 5px;
	}
	.icone-music
	{
		font-size: 20px;
	}
	.taille
	{
	font-size: 25px;
	}
	.venir
	{
		font-size: 15px;
	}
	.effet
	{
		font-size: 15px;
	}
}
